body {
    background-color: #fffbf7;
}

h1 {
    color: #46484c;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}
.header
{
margin-top: 40px;
margin-left: 20px;
margin-right: 20px;
font-size: 0;
}
li{
  display: inline;  
}
.header > * 
{
    display: inline-block;
    /* Tamaño de fuente de la letra */
    font-size: 16px;
    /* alienar al centro verticalmente */
    vertical-align: middle;
    /* la altura */
    height: 100%;
    /* tamaño de altura que tendra ambas lineas */
    line-height: 45px;
}
.logo > img
{
    width:15%;
}
.navbar 
{
    width: 70%;
    text-align: center;
    font-weight:500;
    color:#025157;
}
.actions 
{
    width:15%;
    text-align: right;
    font-size:14px ;
    font-weight:600;
}

.publish h3
{
    font-family: "Alegreya",serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
.publish p
{
    font-size: 16px;
    line-height: 1.5;
    color: #343434;
    margin-bottom: 20px;
}
.publish form
{
    display:flex ;
}
.publish form p
{
    color: #025157;
    margin-right: 18px;
}
/* se supone que no afecta tener 2 html juntos al mismo tiempo ya que  el estilo.css se usa en los 2 */
.promo
{
    display: flex;
    width: 70%;
}